---
const { activePage = "" } = Astro.props;
---
<header>
    <div class="header-area">
        <div class="main-header">
            <div class="header-top d-none d-lg-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li>Phone: +27 (0) 10 001 0000</li>
                                    <li>Email: info@dussitruescan.com</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/"><img src="/images/logo.png" alt="Dussi TrueScan" style="max-height:60px; width:auto;"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/" class={activePage === "home" ? "active" : ""}>Home</a></li>
                                            <li><a href="/about" class={activePage === "about" ? "active" : ""}>About</a></li>
                                            <li><a href="/services" class={activePage === "services" ? "active" : ""}>Services</a></li>
                                            <li><a href="/industries" class={activePage === "industries" ? "active" : ""}>Industries</a></li>
                                            <li><a href="/quality" class={activePage === "quality" ? "active" : ""}>Quality</a></li>
                                            <li><a href="/leadership" class={activePage === "leadership" ? "active" : ""}>Leadership</a></li>
                                            <li><a href="/contact" class={activePage === "contact" ? "active" : ""}>Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    <a href="/contact" class="btn header-btn">Get A Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
